.barrierContainer{
    background-color: #F7F7F7;
    width: auto;
    height: 646px;
    .barrierContainerWrapper{
        padding-left: 120px;
        padding-right: 77px;
        padding-top: 50px;
        .barrierMainContent{
            display: flex;
            flex-direction: row;
            align-items: center;
            width: auto;
            height: 550px;
            .barrierMainContentLeft{
                width: 50%;
                .barrierTitle{
                    font-family: 'Poppins';
                    font-weight: 700;
                    font-size: 50px;
                    text-align: justify;
                    color: #000000;
                    margin-bottom: 15px;
                }
                .barrierParagraph{
                    font-family: 'Poppins';
                    font-weight: 400;
                    font-size: 20px;
                    text-align: justify;
                    color: #000000;
                    width:450px
                }
               
            }
            .ePaymentMainContentRight{
                width: 50%;
                .ePaymentMainContentRightWrapper{
                    background-image:url(../../../assets/images/backgroundImageBlack.png) ;
                    width: 428px;
                    height:422.77px;
                    display: flex;
                    background-size: contain;
                    background-repeat:no-repeat;
                    justify-content: center;
                    margin-top: 60px;
                    .ephoneImageRight{
                        margin-top: -60px;
                        height:529.79px ;
                        width:413.95px;
                    }
                }
            }
        }
    }
}